
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@600&display=swap');
*{
font-family: 'Poppins';
}
html {
  scroll-behavior: smooth;
}
body {
 margin: 0px;
 padding: 0px;
}
.screen_box{
  height: 300px;
  width: 100vw;
  padding: 0vw;
  background-color: black;
}
.screen_box_normal{
  height: 300px;
  width: 100vw;
  padding: 0vw;
  background-color: white;
}
img{
  max-height: 150px;
  max-width: 300px;
  transition: all .3s ease-in;
}
.img_inv{
  filter: invert(100%);
}
h1 {
 margin: 0px;
 color: white;
}
.screen_box_white{
  height: 300px;
  width: 100vw;
  padding: 0vw;
  mix-blend-mode: difference;
  background: linear-gradient(-20deg, #fff 63%,#000 10%);
}
#foot{
  display:none;
   position:fixed;
   top:0;
   left:0;
   width:90vw;
    padding :5vw;
    background: black;
     color:white;
}
#img0{
  float: right;
}
#img5{
  float: left;
}
a{
color: pink;
      padding:7px;
      border-radius:21px;
      text-align: center;
      mix-blend-mode: difference;
}
p{
  text-align: justify;
}
#img3{
  transform: translate(50px);
}
@media screen and (min-width: 500px){


}
