
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Poppins:wght@600&display=swap');
*{
font-family: 'Poppins';
}
html {
  scroll-behavior: smooth;
}
body {
 margin: 0px;
 padding: 0px;
}
div::-webkit-scrollbar {
display:none;
}
button {
  border: none;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  padding: 12px 35px 12px 35px;
}
.screen_box{
  width: 100vw;
  padding: 0vw;
  background-color: black;
}
.screen_box_normal{
  width: 100vw;
  padding: 0vw;
  background-color: white;
}
img{
  max-height: 400px;
  max-width: 300px;
  transition: all .3s ease-in;
}
.img_inv{
  filter: invert(100%);
}
h1 {
 margin: 0px;
 color: white;
  text-shadow: 2px 2px 2px rgb(0,0,0,0.2);
}
h1,p{
  padding: 12px;
  margin:0;
}
.screen_box_white{
  width: 100vw;
  padding: 0vw;
  mix-blend-mode: difference;
  background: linear-gradient(-20deg, #fff 63%,#000 10%);
}
.footer{
  display: flex;
  align-item: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#foot{
  display:none;
   position:fixed;
   top:0;
   left:0;
   width:90vw;
    padding :5vw;
    background: rgb(0,0,0,0.9);
     color:white;
}
#img0{
  position: absolute;
  bottom: 12px;
  right: 12px;
}
#img5{
  float: left;
}
#img6{
  float: right;
  bottom:0;
}
a{
color: pink;
      padding:7px;
      border-radius:21px;
      text-align: center;
      mix-blend-mode: difference;
}
p{
  text-align: justify;
  font-family: 'Roboto';
}
#img3{
  transform: translate(50px);
}
.card_holder{
  display: flex;
  overflow: scroll;
}
.card img{
  border-radius: 50px;
  max-width: 200px;
  max-height: 90px;
}
.card{
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 12px;
  border-radius: 50px;
  transition: all ease .3s;
}
.card:hover{
  background-color: rgb(220,220,220,0.3);
  box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
  transform: translateY(-5px);
}
.info_popup{
  width: 300px;
  padding: 12px;
  color: #fff;
  overflow: scroll;
  text-shadow: 1px 1px 1px rgb(0,0,0,0.2);
  opacity: 0;
  position: fixed;
  display: none;
  flex-direction: column;
  top: 20px;
  right: 20px;
  border-radius: 50px;
  transition: all ease .3s;
  background-color: rgba(77, 75, 75, 0.2);
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
}
.info_popup img{
  border-radius: 50px;
}

@media screen and (min-width: 500px){

.info-popup{
  flex-direction: row;
}
}
